snippet beg "begin" b
\begin{$1}
	$0
\end{$1}
endsnippet

snippet impl "implication"
$1 \Rightarrow $0
endsnippet

snippet equ "equivalence"
$1 \Leftrightarrow $0
endsnippet

snippet <= "?"
$1 \Leftarrow $0
endsnippet
